/* CSS declarations go here */

/*html {*/
.login-background {
    min-height: 100%;
    background: #fff url('/img/login-background.jpg');
    background-position: top center;
    background-size: cover;
}
